services:
  db:
    image: postgres:17-alpine
    restart: always
    environment:
      POSTGRES_USER: dev_user-CM
      POSTGRES_PASSWORD: dev_password-CM18*
      POSTGRES_DB: nutricraft_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: